/* Put your CSS here */
html, body {
   height: 100%;
}

.side_nav {
	margin: 50px 0 0 0;
	padding: 10px 0 0 0;
	position: fixed;
	height: 100%;
	width: 300px;
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
}

.navbar {
	margin-bottom: 0;
}

.sidebar_list {
	list-style-type: none;
}

.workspace {
	padding: 20px;
	margin-left: 300px;
	padding: 0 0;
	text-align: center;
}

.content_box {
	padding-top: 75px;
	font-size: 150%;
	line-height: 150%;
	text-align: left;
}

.content_box form {
	text-align: left;
}

.active {
	font-weight: bold;
}

.nav_rule {
	border-width: 3px 0;
	width: 90%;
}

.centered {
	text-align:center;
}

#article_form, #event_form {
	text-align:left;
	margin-top: 20px;
}

.issue_table {
	margin:auto;
}

.shaded {
	background-color: lightgray;
}

.list_with_no_style {
	list-style-type: none;
}

.modal-dialog {
	width: 800px !important;
}

.article_form {
	width: 90%;
	text-align: left;
	margin: auto;
}

#preview {
	text-align:center;
}

#my_new_issue_button {
	padding: 0px;
}
input.my_input_size { 
	width: 125px; 
}
.video_wrapper {
}

.video_embed {
	margin:auto;
}


.article_div {
	text-align: left;
}

.event_div {
	text-align: left;
}
/* Large desktop */
@media (max-width: 1100px) {
	

	.side_nav {
	margin: 0;
	padding: 10px 0 0 0;
	float:right;
	height: 100%;
	width: 300px;
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
}

.workspace {
		margin-left:310px;
		width: 900px;
		float: left;
		overflow: auto;
	}
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }

